<!DOCTYPE html>
<html lang="en" class="bg-purple-900 h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Getting Todos Done{% endblock %}</title>
    <link rel="icon" type="image/png" href="https://img.icons8.com/nolan/64/todo-list.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
        /* Custom scrollbar styles */
        .scrollbar-thin::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }
        .scrollbar-thin::-webkit-scrollbar-track {
            background: #4a1d6e;
        }
        .scrollbar-thin::-webkit-scrollbar-thumb {
            background-color: #8b5cf6;
            border-radius: 3px;
        }
        .task {
            @apply bg-purple-950 m-2 p-2 rounded hover:bg-purple-600 transition-colors duration-100
        }
    </style>
</head>
<body class="h-full flex flex-col bg-purple-900 text-white overflow-hidden">
    
    <header class="bg-purple-950 p-4 flex-shrink-0">
        {% block header %}
        {% endblock %}
    </header>
    

    <main class="flex-grow overflow-hidden">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>